{{ $allPages := where .Site.RegularPages "Section" "code" }}

<table>
  <thead>
      <tr>
          <th>Category</th>
          <th>Total</th>
          <th>With Verses</th>
          <th>Missing</th>
      </tr>
  </thead>
  <tbody>
  {{ range $categoryNum := seq 1 5 }}
  {{ $cat := printf "%dxx" $categoryNum }}
  {{ $catPages := where $allPages "Params.category" $cat }}
  {{ $catTotal := len $catPages }}
  {{ $catWithVerses := 0 }}
  {{ range $catPages }}
    {{ if .Params.verses }}
      {{ $catWithVerses = add $catWithVerses 1 }}
    {{ end }}
  {{ end }}
  {{ $catWithout := sub $catTotal $catWithVerses }}
      <tr>
          <td>{{ $cat }}</td>
          <td>{{ $catTotal }}</td>
          <td>{{ $catWithVerses }}</td>
          <td>{{ $catWithout }}</td>
      </tr>
  {{ end }}
  </tbody>
</table>